

.header{
    min-height: 100vh;
    position: relative;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .headerInner{
    padding: 130px 0 0 150px;
  }
  
  .headerInner_name{
    font-size: 16px;
    position: relative;
    z-index: 2;
    padding-left: 10px;
  }
  
  .headerName::before{
    content:"";
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: #FFA501;
    border-radius: 50%;
    z-index: -1;
    top: -4px;
    left: 0px;
  }
  
  .headerInner_title{
    width: 612px;
    height: 100px;
    font-size: 48px;
    line-height: 50px;
    padding: 20px 0;
  }
  
  .headerInner_btns{
    max-width: 230px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size: 14px;
  }
  
  .btn{
    background: #FFA501;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 30px;
    border-radius: 5%;
  }
  
  .headerInner_link{
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
  }
  
   .headerLink{
    transform: rotate(-90deg);
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 275px;
    left: -100px;
    width: 340px;
  }
  
  .headerLink_title{
    position: relative;
    padding-right: 85px;
    display: inline-block;
    line-height: 20px;
  }
  
  .headerLink_title::before{
    content:"";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #000;
    top: 11px;
    left: 134px;
  }
  
  .headerLogo{
    width: 20px;
    height: 19px;
  } 